.slide-enter-forward {
  animation: slideForward 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

.slide-enter-backward {
  animation: slideBackward 0.6s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes slideForward {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideBackward {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.dot-active {
  background: linear-gradient(90deg, rgba(62, 99, 221, 1) 0%, rgba(154, 132, 245, 1) 100%);
}
