.track-order-btn {
  border: 1px solid #3E63DD;
  height: 23px;
  padding: 0 16px;
  font-size: 11px;
  border-radius: 99px;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 600;
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.2s ease;
}

.track-order-btn:active {
  transform: scale(0.95);
}

.track-order-btn.selected {
  background-color: #3E63DD;
  color: white;
}

.track-order-btn:not(.selected) {
  background-color: transparent;
  color: #3E63DD;
}
