<div class="relative h-[100dvh] overflow-hidden font-jakarta">

    <!-- Blur BG (fixed, won't scroll) -->
    <div class="fixed inset-0 z-0 pointer-events-none">
        <div class="absolute w-[582px] h-[582px] top-[-135px] left-[-223px] bg-[#EBC894]/80 rounded-full blur-[180px]"></div>
        <div class="absolute w-[934px] h-[934px] top-[405px] left-[-200px] bg-[#B49EF4]/80 rounded-full blur-[250px]"></div>
    </div>

    <!-- Scrollable Content -->
    <div class="relative z-10 h-full overflow-y-auto">
        <div class="flex items-center justify-center min-h-[100dvh] py-6">
            <ng-content></ng-content>
        </div>
    </div>

</div>